services:
    web:
        build: .
        container_name: fastapi_app
        restart: always
        depends_on:
            - db
        environment:
            DATABASE_URL: postgresql://myuser:mypassword@db:5432/mydb
        expose:
            - "8000"
        volumes:
            - .:/app

    db:
        image: postgres:15
        container_name: postgres_db
        restart: always
        environment:
            POSTGRES_USER: myuser
            POSTGRES_PASSWORD: mypassword
            POSTGRES_DB: mydb
        volumes:
            - pg_data:/var/lib/postgresql/data
        expose:
            - "5432"

volumes:
    pg_data:
